{% extends 'DjangoApp/base.html' %}

{% load static %}



{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
			body{
				background-color: rgb(5,5,49);
				color: white;
			}
		input{
			width: 60%;
			padding: 10px;
			border-radius: 10px;
			border-top-right-radius: 0px;
			border: 1px solid blue;
			margin-bottom: 40px;
		}
		input[type="submit"]{
			width: 20%;
			padding: 10px;
			border-radius: 10px;
			border-top-right-radius: 0px;
			border: 1px solid black;
			background-color: blue;
			color: white;
			margin-top: 10px;


		}
	</style>
</head>
<body>

	<div class="container">

		<center><h1>USER LOGIN FORM</h1></center>

<form method="POST">
          {% csrf_token %}

<label>UserName</label>:
 <input type="text" name="username"><br>

 <label>Password</label>:
 <input type="password" name="password" placeholder="Enter UserName"><br>


<center>
 {% if messages %}
    {% for message in messages %}
    

      <div class="alert alert-warning alert-dismissible fade show" role="alert">
<strong style="">{{message}}</strong>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style=""></button>
</div>
    {% endfor %}
  {% endif %}

	
  <input type="submit" value="Login" name="" placeholder="Enter Password">
  </center>

 </form>

</div>


</body>
</html>
{% endblock %}